.terms-container {
    max-width: 800px;
    margin: 120px auto;
    padding: 20px;
    line-height: 1.6;
}

.terms-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.terms-container h2 {
    margin-top: 20px;
    color: #333;
}

.terms-container p {
    margin-bottom: 10px;
}

.terms-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.terms-container ul li {
    margin-bottom: 10px;
}

.terms-container a {
    color: #007BFF;
    text-decoration: none;
}

.terms-container a:hover {
    text-decoration: underline;
}